body {
  font-family: Arial, sans-serif;
  background-color: #f4f9fd;
  margin: 0;
  padding: 0;
}

.Addtask {
  text-align: center;
  background-color: #154c79;
  padding: 20px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.addinput {
  padding: 10px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.addinput:focus {
  outline: none;
  border-color: #79cce4;
  box-shadow: 0px 0px 8px #79cce4;
}

.list {
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 90%;
  /* Reduced width for smaller screens */
  max-width: 600px;
  /* Ensures it doesn’t get too wide */
}

.task-item {
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.task-item:hover {
  background-color: #f0f8ff;
}

h6 {
  margin: 0;
  font-size: 16px;
  color: #333;
  flex-grow: 1;
  text-align: left;
}

button {
  margin: 0 10px;
}

.empty-list {
  text-align: center;
  padding: 20px;
  color: #666;
  font-size: 18px;
  font-style: italic;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}